*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 400;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

p {
	margin: 0;
}

input,
button,
textarea {
	font-family: inherit;
}

img {
	display: block;
}

/* Основная часть */

html {
}

body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: calc(39 / 32);
	color: #e4e4e4;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

/* header start */
.header {
	padding: 19px 0;
	background: linear-gradient(101.56deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo-wrapper {
}
.header__logo {
}
.header__nav {
}
.header__list {
	display: flex;
}
.header__item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__item + .header__item {
	margin-left: 70px;
}
.header__link {
	font-weight: 300;
	font-size: 18px;
	line-height: calc(22 / 18);
	color: #e4e4e4;
}
.header__burger-inner {
}
.header__burger-line {
}
@media (min-width: 998px) {
	.header__logo {
		transition: 0.2s;
	}
	.header__logo:hover {
		transform: scale(1.03);
	}
	.header__link {
		transition: 0.2s;
		position: relative;
	}
	.header__link:hover {
		color: #fff;
	}
	.header__link:before {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		height: 1px;
		width: 100%;
		border-radius: 50%;
		transform: translateY(5px);
		opacity: 0;
		background: linear-gradient(to right, #fff, #4edbd2);
		transition: 0.2s;
	}
	.header__link:hover::before {
		opacity: 1;
		transform: translateY(0);
	}
}
/* header end */

/* main start */
.main {
	background: linear-gradient(101.56deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
}
.main__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.main__info {
}
.main__title {
	font-weight: 900;
	font-size: 48px;
	line-height: calc(80 / 48);
	color: #e4e4e4;
	margin-bottom: 32px;
}
.main__desc {
	font-weight: 400;
	font-size: 32px;
	line-height: calc(39 / 32);
	letter-spacing: -0.05em;
	color: #e4e4e4;
	margin-bottom: 32px;
}
.main__btn {
	padding: 12px 67px;
	font-weight: 700;
	font-size: 18px;
	line-height: calc(22 / 18);
	color: #000;
	background: linear-gradient(87.32deg, #ffffff 4.47%, #29e2ee 95.53%);
	box-shadow: 0px 2px 13px rgba(64, 192, 195, 0.7);
	border-radius: 6px;
}
.main__img-wrapper {
	max-width: 470px;
	width: 100%;
}
.main__img {
	width: 100%;
}
@media (min-width: 998px) {
	.main__btn {
		transition: 0.2s;
	}
	.main__btn:hover {
		color: #8f8f8f;
		transform: scale(0.97);
	}
	.main__img {
		transition: 0.4s;
	}
	.main__img:hover {
		filter: drop-shadow(2px 2px 10px rgba(255, 255, 255, 0.3));
	}
}
/* main end */

/* main-block start */
.main-block {
	background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
}

/* partners start */
.partners {
	padding-top: 194px;
}
.partners__inner {
	padding: 61px 0 54px;
	background: #fff;
}
.partners__container {
	max-width: 1580px;
}
.partners__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.partners__item {
}
.partners__link {
}
.partners__img {
	border-radius: 10px;
}
@media (min-width: 998px) {
	.partners__item {
		transition: 0.2s;
	}
	.partners__item:hover {
		filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.3));
	}
}
/* partners end */

/* partners start */
.catalog {
  padding-top: 127px;
	padding-bottom: 162px;
}
.catalog__container {
	max-width: 1640px;
}
.catalog__inner {
}
.catalog__title-wrapper {
	position: relative;
	display: inline-block;
}
.catalog__title {
	font-weight: 900;
	font-size: 48px;
	line-height: calc(50 / 48);
	letter-spacing: 0.06em;
	margin-bottom: 75px;
	display: inline-block;
	position: relative;
	z-index: 2;
}
.catalog__title-wrapper::before {
	content: '';
	position: absolute;
	right: 0;
	top: 25px;
	height: 35px;
	width: 186px;
	background: url('../img/catalog/leaf.svg') center/contain no-repeat;
}
.catalog__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}
.catalog__item {
}
.catalog__img-wrapper {
	overflow: hidden;
	border-radius: 20px;
}
.catalog__img {
	display: block;
}
.catalog__item-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	margin-top: 28px;
}
.catalog__group {
}
.catalog__group-category {
	font-weight: 500;
	font-size: 28px;
	line-height: calc(50 / 28);
	letter-spacing: -0.04em;
	margin-bottom: 7px;
}
.catalog__group-text-link {
	font-weight: 500;
	font-size: 24px;
	line-height: calc(50 / 24);
	letter-spacing: -0.04em;
	color: #7f7f7f;
}
.catalog__group-link {
}
.catalog__group-img {
}
@media (min-width: 998px) {
	.catalog__group-text-link,
	.catalog__group-img,
	.catalog__item .catalog__group-img path {
		transition: 0.2s;
	}
	.catalog__item .catalog__img {
		transition: 0.6s;
	}
	.catalog__item.hovered .catalog__group-text-link {
		color: #fff;
	}
	.catalog__item.hovered .catalog__group-img path {
		fill: #fff;
	}

	.catalog__item.hovered .catalog__img {
		transform: scale(1.15);
	}
}
/* partners end */
/* main-block end */

/* discount start */
.discount {
	background-color: #fff;
}
.discount__container {
	max-width: 1580px;
}
.discount__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.discount__img-wrapper {
	max-width: 748px;
	width: 100%;
}
.discount__img {
}
.discount__info {
	padding-left: 80px;
}
.discount__title {
	font-weight: 900;
	font-size: 70px;
	line-height: calc(137 / 70);
	color: #000;
}
.discount__title span {
	position: relative;
	z-index: 2;
}
.discount__title div {
	position: relative;
}
.discount__title div::before {
	content: '';
	background: #7cecec;
	transform: matrix(1, -0.03, 0.03, 1, 0, 0);
	width: 618px;
	height: 130px;
	position: absolute;
	left: -23px;
}
.discount__desc {
	font-weight: 500;
	font-size: 36px;
	line-height: calc(52 / 36);
	letter-spacing: -0.02em;
	color: #231300;
	margin-bottom: 36px;
}
.discount__date-wrapper {
	margin-bottom: 38px;
}
.discount__date {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: calc(52 / 36);
	letter-spacing: 0.02em;
	color: #000;
	margin-bottom: 10px;
}
.discount__date-desc {
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	line-height: calc(52 / 36);
	letter-spacing: -0.02em;
	color: #000;
}
.discount__link {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 28px;
	line-height: calc(42 / 28);
	letter-spacing: 0.02em;
	color: #fff;
	padding: 26px 51px;
	background: #000;
	border-radius: 8px;
}
@media (min-width: 998px) {
	.discount__link {
		transition: 0.2s;
	}
	.discount__link:hover {
		background-color: #333;
		transform: scale(0.97);
	}
}
/* discount end */

/* footer start */
.footer {
	background-color: #000;
	padding: 102px 0;
}
.footer__container {
	max-width: 1174px;
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__list {
	display: flex;
	justify-content: space-between;
}
.footer__item {
}
.footer__item:nth-child(1) {
	max-width: 214px;
	margin-right: 100px;
}
.footer__item:nth-child(2) {
	max-width: 270px;
}
.footer__item--main {
	max-width: 415px !important;
}
.footer__item-title {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 40px;
	line-height: calc(60 / 40);
	letter-spacing: 0.03em;
	color: #fff;
	margin-bottom: 32px;
}
.footer__item-desc {
	font-size: 24px;
	line-height: calc(40 / 24);
	letter-spacing: 0.02em;
	color: #8e8e8e;
	margin-bottom: 32px;
}
.footer__item-socials {
	display: flex;
	gap: 14px;
}
.footer__item-social {
}
.footer__item-social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 52px;
	background: #7cecec;
	border-radius: 15px;
}
.footer__item-social-img {
}
.footer__item-links {
}
.footer__item-link-wrapper {
}
.footer__item-link {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: calc(40 / 24);
	letter-spacing: 0.02em;
	color: #8e8e8e;
}
.footer__item-link-wrapper + .footer__item-link-wrapper {
	margin-top: 32px;
}
@media (min-width: 998px) {
	.footer__item-title {
		display: inline-block;
		transition: 0.2s;
	}
	.footer__item-title:hover {
		transform: scale(1.03);
	}
	.footer__item-social-link {
		transition: 0.2s;
	}
	.footer__item-social-link:hover {
		background: #fff;
	}
	.footer__item-link {
		transition: 0.2s;
	}
	.footer__item-link:hover {
		color: #fff;
	}
}
/* footer end */

/* burger start */
body {
  position: relative;
	overflow-x: hidden;
}
html {
  width: 100vw;
	overflow-x: hidden;
}
.header {
  /* position: relative; */
  /* overflow: hidden; */
}
body._menu-open {
  /* overflow: hidden; */
}
html._menu-open {
  overflow: hidden;
}
body._menu-open .header__burger-line:first-child {
	-webkit-transform: rotate(45deg) translateY(1px);
	-ms-transform: rotate(45deg) translateY(1px);
	transform: rotate(45deg) translateY(1px);
}
body._menu-open .header__burger-line:last-child {
	-webkit-transform: rotate(-45deg) translateY(-1px);
	-ms-transform: rotate(-45deg) translateY(-1px);
	transform: rotate(-45deg) translateY(-1px);
}
body._menu-open .header__burger {
	gap: 0px;
}

body._menu-open .header__nav {
	transform: translateX(0);
}
/* burger end */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/* selection start */
::selection {
	background: rgba(255, 217, 1, 0.7); /* Safari */
}
::-moz-selection {
	background: rgba(255, 217, 1, 0.7); /* Firefox */
}
/* selection end */

/* scrollbar start */
*::-webkit-scrollbar {
	width: 12px; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
	background: #000; /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
	background-color: #cacaca; /* цвет плашки */
	border-radius: 10px;
	border: 3px solid #000; /* padding вокруг плашки */
}
*::-webkit-scrollbar-thumb:hover {
	background-color: #b4b4b4;
}
*::-webkit-scrollbar-thumb:active {
	background-color: #858585;
}
/* scrollbar end */
